body{
    background-color: black;
}

.logo{
    position: relative;
    display: flex;
    background-color: rgba(48, 22, 192, 0.726);
    border: none;
    border-radius: 10px;
}

.logo .req{
    justify-self: flex-end;
    align-self: center;
    position: absolute;
    right: 10px;
    font-size: large;
}

.logo .req a{
    text-decoration: none;
    color: wheat;
    cursor: pointer;
}

.logo img{
    width: 100px;
    display: inline;
}

.list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}

.list a{
    text-decoration: none;
    color: white;
    text-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 20px 20px;
    gap: 0.5rem;
    display: grid;
    grid-template-rows: repeat(2);
}

.list a img{
    width: 200px;
    height: 300px;
    margin: auto;
    border: none;
    border-radius: 10px;
}

.list img:hover{
    cursor: pointer;
    box-shadow:10px 0px 100px rgb(0, 233, 213), 10px 0px 100px rgb(127, 7, 224);
    transition: all 0.5s;
}

@media screen and (max-width:1085px) {
    .list{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width:844px) {
    .list{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width:585px) {
    .list{
        grid-template-columns: repeat(1, 1fr);
    }
}